.blog__title-divider {
    background-color: var(--blog-post-divider);
    background-image: var(--blog-post-divider);
}

.blog__post-info {
    font-style: italic;
    margin-top: 0.4em;
}

.blog__post-description {
    color: #888;
    font-style: italic;
}

code {
    border: 1px solid #d8e0e4;
    border-radius: 2px;
    color: #c25;
    font-size: .8em;
    line-height: 1em;
    white-space: pre-wrap;
    vertical-align: middle;
    padding: .2rem .3rem .1rem;
    font-family: var(--font-mono);
}
pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #fff;
    font-size: .8rem;
    line-height: 1.2em;
    user-select: all;
}

@media screen and (min-width: 35em) {
    footer {
        padding-right: 3em;
    }
}
