.skewed-section {
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.text__line-through {
    text-decoration: line-through;
}

hr.divider {
    height: 3px;
    background-image: linear-gradient(90deg,#0ec1f6,#8823de);
    border: none;
}
